.index-sites {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.index-site-tile {
    border-radius: 5px;
    height: 250px;
    width: 300px;
    background-position: center center;
    border-radius: 5px;
    background-color: #F6F1EE;
    box-shadow: 2px 2px 5px 1px #D3D3D3;
}

.site-tile-link a {
    text-decoration: none;
}

.index-site-tile:hover {
    background-color: rgb(235, 229, 227);
    transition: .3s;
}

.site-tile-img-container {
    position: relative;
    max-width: 300px;
    max-height: 150px;
    min-height: 150px;
    overflow: hidden;
}

.site-tile-img {
    position: center center;
    border-radius: 5px;
    max-width: 100%;
}

.site-tile-info {
    display: flex;
    flex-direction: column;
    color: #333333;
    transition: .2s;
}

.site-tile-info-description {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.site-tile-info-specs {
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: space-between;
    padding-left: 15px;
}

.site-tile-info-title h4 {
    font-size: 25px;
}

.site-tile-info-cost {
    display: inline-block;
    height: 30px;
    width: 100px;
    padding-top: 15px;
}

.site-tile-booked-container {
    display: inline-block;
    height: 45px;
    width: 45px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.site-tile-booked {
    /* background-color: #5583A6; */
    width: 0;
    height: 0;
    border-bottom: 45px solid #F6C270;
    border-left: 45px solid transparent;
}

.search-holder {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin-right: 6%;
    margin-bottom: 45px;
    width: inherit;
    border-radius: 5px;
    background-color: #F6F1EE;
    box-shadow: 1px 1px 3px 1px #D3D3D3;
}

.search-input {
    font-size: 20px;
    padding: 10px;
    width: 80%;
}

.search-holder > img {
    height: 35px;
    padding-right: 15px;
}