.site-show-container {
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333333;
}

.site-show-img-container {
    display: flex;
    position: relative;
    justify-content: center;
    max-height: 600px;
    width: 100%;
    padding-top: 70px;
    overflow: hidden;
}

.site-show-img {
    object-fit: none;
    object-position: center;
    position: relative;
    max-height: fit-content;
    overflow: hidden;
}

.site-show-main {
    display: flex;
}

.site-show-widget-container {
    display: inline-block;
    position: relative;
    bottom: 100px;
    /* height: 600px; */
    width: 30%;
}

.site-show-widget {
    background-color: white;
    /* height: 600px; */
    width: 308px;
    margin-right: 100px;
    border: 1px solid #F6F1EE;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    /* border-radius: 2px; */
    /* overflow: hidden; */
}

.site-show-widget-top-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #F6F1EE;
}

.site-show-widget-top-content {
    padding-top: 10px;
    padding-left: 15px;
}

.site-show-widget-top-content h4 {
    font-size: 25px;
    /* font-weight: bold; */
}

.site-show-widget-top-content p {
    color: #F6C270;
    font-size: 15px;
    padding-top: 5px;
}

.site-show-widget-bottom-container {
    height: 500px;
    width: 100%;
}

.site-show-info-container {
    display: inline-block;
    position: relative;
    min-height: 500px;
    width: 60%;
    margin-left: 10%;
    padding-right: 50px;
}

.site-show-info-title h2 {
    font-size: 40px;
    padding: 20px;
}

.site-show-info-descrition {
    border-top: 1px solid #F6F1EE;
    padding: 20px;
    line-height: 1.42;
}

.site-show-cost {
    font-size: 40px;
}

.site-show-max_guests {
    
}

.date-range-picker-container {
    width: 100%;
}

.site-show-info-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding-top: 50px;
}

.site-show-info-card {
    height: 260px;
    width: 200px;
    padding: 20px;
    border: 1px solid #F6F1EE;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    font-size: 15px;
    line-height: 2rem;
}

.site-card-title h3 {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    padding-bottom: 10px;
}

.site-show-info-card img {
    height: 30px;
    width: 30px;
}

.site-show-info-details-container {
    display: flex;
    height: 200px;
    border-top: 1px solid #F6F1EE;
    margin-top: 40px;
    padding-top: 20px;
    line-height: 1.8;
    font-size: 15px;
}

.site-show-info-details-container h3 {
    font-size: 20px;
    font-weight: 500;
}

.site-show-info-details-container li {
    font-weight: bold;
    padding-left: 100px;
}
.site-show-info-details-container span {
    font-weight: normal;
}