.footer {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background-image: url(/trees-footer.png);
    background-repeat: repeat-x;
    background-position: -15px 5px; 
    height: 250px;
    width: 100%;
    z-index: 0;
}

.footer span {
    padding: 10px 15px;
    color: #F6F1EE;
}