.nav-bar-container {
    background: #F6F1EE;
    position: fixed;
    max-height: 75px;
    width: 100%;
    transition: 0.2s;
    overflow: hidden;
    z-index: 2;
}

.nav-bar {
    font-family: inherit;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 50px;
}

.nav-logos {
    display: flex;
    text-decoration: none;
    color: black;
    margin-top: 5px;
}

.nav-buttons {
    margin: 0px;
}

.nav-logo-name {
    position: relative;
    bottom: 63px;
    max-width: 75%;
    font-size: 25px;
    font-weight: 600;
}

.nav-bar .btn{
    text-decoration: none;
    color: #F6C270;
    border: 0px solid #F6C270;
    padding: 8px;
    margin-top: 0px;
    margin-left: 10px;
    transition-duration: 0.4s;
}

.nav-bar .btn:hover {
    color: white;
    background: #F6C270;
}
