.entry-form-container {
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    margin-top: 130px;
    padding: 20px;
}

.entry-form form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 200px;
}

.entry-form h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 25px;
    margin-bottom: 20px;
}

.entry-form h3 {
    font-size: 15px;
}

.entry-form input {
    font-size: medium;
    border: 1px solid #F6C270;
    border-radius: 2px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.entry-form-input-field {
    margin-left: 5px;
}

.entry-form-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   margin-left: -5px;
}

.entry-form button {
    text-decoration: none;
    color: #F6C270;
    border: 1px solid #F6C270;
    padding: 8px;
    margin-top: 5px;
    transition: 0.2s;
    border-radius: 4px;
}

.entry-form button:hover {
    color: white;
    background: #F6C270;
}

.entry-form-switch-button-container {
    display: flex;
    justify-content: center;
    margin-left: -5px;
}

#entry-form-switch-button {
    color: #F6C270;
    border: none;
    padding: 4px;
    margin-top: 15px;
    transition: 0.2s;
    border-radius: 4px;
}

#entry-form-switch-button:hover {
    text-decoration: underline;
    color: #F6C270;
    background: white;
}

.entry-form-demo-button-container {
    margin-top: 10px;
    
}