.entry-form-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 500px;
}

.entry-form form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 200px;
}

.entry-form h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 25px;
    margin-top: 130px;
    margin-bottom: 20px;
}

.entry-form input {
    font-size: medium;
    border: 1px solid #F6C270;
    border-radius: 2px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.entry-form-input-field {
    margin-left: 15px;
}

.entry-form-button-container {
    display: flex;
    justify-content: center;
    margin-left: -15px;
}

.entry-form button {
    text-decoration: none;
    color: #F6C270;
    border: 1px solid #F6C270;
    padding: 8px;
    margin-top: 5px;
    transition: 0.2s;
    border-radius: 4px;
}

.entry-form button:hover {
    color: white;
    background: #F6C270;
}