body {
    font-family: "Calibre", Helvetica, Arial, sans-serif;
}

.btn{
    text-decoration: none;
    color: #F6C270;
    border: 1px solid #F6C270;
    padding: 8px;
    margin: 5px;
    transition: 0.2s;
    border-radius: 4px;
}

.btn:hover {
    color: white;
    background: #F6C270;
}