.bookings-index-main-content {
    font-family: "Calibre", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    /* background: #F6F1EE; */
    height: 550px;
    padding-top: 80px;
}

.bookings-index-title-container {
    display: flex;
    justify-content: center;
    background: white;
    height: 50px;
    padding-top: 20px;
}

.bookings-index-title-container h2 {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #F6F1EE;
}