.booking-form {

}

.booking-submit-button-container {
    display: flex;
    justify-content: center;
}

.booking-submit-button{
    text-decoration: none;
    color: #F6C270;
    border: 1px solid #F6C270;
    padding: 18px 20px;
    width: 90%;
    transition-duration: 0.4s
}

.booking-submit-button:hover {
    color: white;
    background: #F6C270;
}

.booking-form-guest-select-container {
    display: inline-block;
    width: 25%;
    height: 100%;
    font-size: 100%;
}

.booking-form-guest-select-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 0px;
    transition-duration: 0.4s;
    font-weight: 200;
    color: #7e7b7b;
    padding: 14px ;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    border-radius: 0px;
    line-height: inherit;
    border: 0;
    border-top: 0;
    border-left: 1px solid #F6F1EE;
    border-bottom: 4px solid transparent;
    border-radius: 0;
}

.booking-form-guest-select-container select:hover {
    background: #e4e7e7;
}