.bookings-index-main-content {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  min-height: 550px;
  padding-top: 80px;
  color: #333333;
}

.booking-index-site-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.bookings-index-title-container {
  display: flex;
  justify-content: center;
  background: white;
  height: 100px;
  padding-top: 20px;
}

.bookings-index-title-container h2 {
  font-size: 30px;
  font-weight: 700;
}

.booking-index-stays {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

.booking-index-item {
  display: flex;
  justify-content: center;
}

.booking-index-site-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.booking-index-item button {
  text-decoration: none;
  color: #f6c270;
  border: 1px solid #f6c270;
  padding: 8px;
  margin-top: 10px;
  transition-duration: 0.4s;
}

.booking-index-item button:hover {
  color: white;
  background: #f6c270;
}

.booking-index-site-title a {
  text-decoration: none;
  color: #333333;
  transition: 0.5s;
}

.booking-index-site-title a:hover {
  text-decoration: underline;
  color: #333333;
}

.booking-index-site-title {
  font-size: 20px;
  padding-bottom: 8px;
}

.bookings-index-empty {
  color: #818080;
  text-align: center;
  height: 100%;
  width: 100%;
}

.bookings-index-empty a {
  color: #818080;
  text-decoration: underline;
}

.bookings-index-empty a:hover {
  text-decoration: none;
}

.get-directions-btn {
  text-decoration: none;
  background: white;
  color: #f6c270;
  border: 1px solid #f6c270;
  border-radius: 2px;
  padding: 8px;
  margin-top: 10px;
  transition-duration: 0.4s;
}

.get-directions-btn:hover {
  color: white;
  background: #f6c270;
}

.cancel-btn {
  background: white;
  border-radius: 2px;
}
