
#date-range-picker-container {
  display: inline-block;
  width: 75%;
}

#date-range-picker-container .DateRangePickerInput__withBorder {
  border: 0px solid #dbdbdb;
}

#date-range-picker-container .CalendarDay__selected_span {
  background: rgb(247, 220, 177);
  color: white;
  border: 1px double #F6C270;
}

#date-range-picker-container .CalendarDay__selected {
  background: #F6C270;
  color: white;
  border: 1px double #F6C270;
}

#date-range-picker-container .DateInput_input__focused {
  border-bottom: 2px solid #F6C270;
}

#date-range-picker-container .CalendarDay__selected:hover {
  background: rgb(247, 220, 177);
  color: white;
  border: 1px double #F6C270;
}

#date-range-picker-container .CalendarDay__hovered_span:hover,
#date-range-picker-container .CalendarDay__hovered_span {
    background: rgb(247, 220, 177);
    color: white;
    border: 1px double #F6C270;
}

#date-range-picker-container .DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right: 33px solid #F6C270;
}

#check-in {
  text-align: center;
  font-size: 15px;
  width: 77px;
  padding: 15px;
  cursor: pointer;
  transition: .2s;
  line-height: inherit;
}

#check-in:hover {
  background: #e4e7e7;
}

#check-out {
  text-align: center;
  font-size: 15px;
  width: 77px;
  padding: 15px;
  cursor: pointer;
  transition: .2s;
  line-height: inherit;
}

#check-out:hover {
  background: #e4e7e7;
}

/* #date-range-picker-container .DateInput_input {
  display: flex;
  justify-content: center;
} */

#date-range-picker-container .DateInput {
  width: 100px;
}